 <div class='content container'>
    <div class='row'>
        <div class='col-md-8'>
            {% for post in posts %}
                <div class='post'>
                    <p>Number of entered data is {{ post.id }} Entered data: {{ post.user_input }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
 <a href="http://127.0.0.1:8000/input_page">Back to input_page</a><br />
 <a href="http://127.0.0.1:8000">Back to home page</a>