{% block content %}
    <h1>Input page</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
<a href="http://127.0.0.1:8000">Back to home page</a>
